h1 Users
a(href="/users/create") Create

form(action="/users/search", method="get")
	input(type="text", name="q") 
	button Search
ul
	each user in users
		li
			span= user.name
			a(href="/users/" + user.id) View